<!doctype html>
<!--Credit to https://www.flaticon.com/ designers for their icons used in this template-->
<html lang ="en">
<head>
<title> About Us </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="resource/polygon.png"/>
<link rel="stylesheet" href="styles.css">
<style>
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
</style>
<head>
<body style="background: #263238;">
  <header>
    <center>
      <h1><b>Developers </b><img src="resource/code.png" width="45" height="45" style="vertical-align: middle"></h1>
    </center>
  </header>

  <br>
  
  <div id="row">
    
    <div class="card" style="color: white; background: #212121;">
      <img src="resource/userProfilePicture.png" alt="Avatar" width="400" height="400" style="width: 400px">
      <div class="container">
        <h4><b>Sloths </b><img src="resource/sloth.png" width="35" height="35" style="filter: invert(100%); vertical-align: middle;"></h4> 
        <p>I am a sloth</p>
        <a href="#" style="color: white;">Link #1</a>
        <a href="#" style="color: white;">Link #2</a>
        <a href="#" style="color: white;">Link #3</a>
        <a href="#" style="color: white;">Link #4</a> 
      </div>
    </div>
    
    <div class="card" style="color: white; background: #1976D2;">
      <img src="resource/userProfilePicture.png" alt="Avatar" width="400" height="400" style="width: 400px">
      <div class="container">
        <h4><b>Dragon </b><img src="resource/dragon.png" width="35" height="35" style="filter: invert(100%); vertical-align: middle;"></h4> 
        <p>I am a dragon</p>
        <a href="#" style="color: white;">Link #1</a>
        <a href="#" style="color: white;">Link #2</a>
        <a href="#" style="color: white;">Link #3</a>
        <a href="#" style="color: white;">Link #4</a> 
      </div>
    </div>
    
    <div class="card" style="color: white; background: #C2185B;">
      <img src="resource/userProfilePicture.png" alt="Avatar" width="400" height="400" style="width: 400px">
      <div class="container">
        <h4><b>Cow </b><img src="resource/cow.png" width="35" height="35" style="filter: invert(100%); vertical-align: middle;"></h4>
        <p>I am a cow</p>
        <a href="#" style="color: white;">Link #1</a>
        <a href="#" style="color: white;">Link #2</a>
        <a href="#" style="color: white;">Link #3</a>
        <a href="#" style="color: white;">Link #4</a> 
      </div>
    </div>
    
    <div class="card" style="color: white; background: #9E9E9E;">
      <img src="resource/userProfilePicture.png" alt="Avatar" width="400" height="400" style="width: 400px">
      <div class="container">
        <h4><b>Onion </b><img src="resource/onion.png" width="35" height="35" style="filter: invert(100%);vertical-align: middle;"></h4>
        <p>I am an onion</p>
        <a href="#" style="color: white;">Link #1</a>
        <a href="#" style="color: white;">Link #2</a>
        <a href="#" style="color: white;">Link #3</a>
        <a href="#" style="color: white;">Link #4</a> 
      </div>
    </div>
    
    <div class="footer">
      <h6><b>POLYGON </b><img src="resource/polygon.png" width="35" height="35" style="filter: invert(100%); vertical-align: middle;"></h6>
    </div>
  </div>
  
</body>
</html>
